/* Basic styles for the site */
body {
    background-color: #E8D4CD;  /* Use a light color for background */
    color: #333;  /* Standard text color */
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #A19D9D;  /* Slightly darker color for the header */
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
  }

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #FFFFFF;  /* White text for navigation links */
    transition: color 0.3s ease;
  }
  nav ul li a:hover,
nav ul li a:focus {
    color: #F8E6E6; /* Light pink color on hover/focus */
}
  

  
  

  
  main {
    padding: 20px;
    background-color: #F0E1D5;  /* Light background for main content area */
    min-height: 100vh;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Additional styles for sections */
  section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EBEBEB;  /* Light gray background for sections */
    border-radius: 10px;
    min-height: 85vh;
  }
  
  footer {
    background-color: #A19D9D;  /* Match header color */
    color: #FFFFFF;  /* White text for footer */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .add-to-cart {
    background-color: #f0c5c5;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*Button for Category.js*/
.add-to-cart:hover {
    background-color: #ff85c1;
}

